<div class="homepage-container">
    <app-navbar></app-navbar>
    <div class="homepage-content">
        <div *ngIf="!showLogin" class="homepage-text">
            <h1 class="homepage-title">Gérez vos tickets de support efficacement en quelques clics !</h1>
            <h2 class="homepage-subtitle">Suivez, assignez et résolvez les demandes de vos utilisateurs en toute simplicité grâce à une interface moderne et intuitive.</h2>
            <div class="homepage-actions">
                <button mat-button class="homepage-button-reverse" (click)="onLoginClick()">Se connecter</button>
                <button mat-button  class="homepage-button" (click)="onRegisterClick()">S'inscrire</button>
            </div>
        </div>
        <div *ngIf="showLogin" class="homepage-login">
            <app-login></app-login>
        </div>
        <div class="homepage-illustration">
            <img *ngIf="!showLogin" class="homepage-image" src="illu.gif" alt="dd">
            <img *ngIf="showLogin" class="homepage-image" src="Login.gif" alt="dd">
        </div>
    </div>
</div>
